rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // allow read is needed for Next.js GetServerSideProps, not ideal for some use cases.

    match /{document=**} {
      allow read, write: if isAdmin();
    }

    match /products/{document=**} {
      allow read;
      allow write: if hasPermission('products');
    }

    match /orders/{document=**} {
      allow read;
      allow write: if hasPermission('orders');
    }

    // Check if the user is an admin
    function isAdmin() {
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.token.email)).data;
      return userDoc.get('admin', false);
    }

    // Check if the user has permission to access the collection
    function hasPermission(collectionAccess) {
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.token.email)).data;
      let permissions = userDoc.get('permissions', {});
      return permissions.get(collectionAccess, false);
    }

  }
}